body{
    margin: Opx;
    padding: 0px;
    background-color: black;
    color: rgb(255, 255, 255);
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #9ce723;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
  ::selection {
    color: black;
    background: #9ce723;
  }
  header{
    max-width: 100%;
    background-color: #9ce723;
    border-radius: 0px 0px 80px 80px;
    text-align: center;

}
header h1{
    font-weight: bold;
    font-family: 'Grape Nuts', cursive;
    color: black;
}
.texts{
  margin: 12px;
}
.btndown{
  font-weight: bold;
  font-family: 'Grape Nuts', cursive;
  font-size: 20px;
  color: black;
  background-color: #9ce723;
  border-radius: 20px;
  border: solid white 2px;
}
iframe{
  width: 90%;
  height: 600px;
}